body {
  background: #ccffee;
  font-family: 'Courier', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #2F3D31;
  font-size: 1.6em;
  line-height: 1.7em;
  text-align:center; 
}

a {
  outline: none;
  text-decoration: none;
  color: #FF8E5C;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  text-decoration:none;
  color: #FFE04F;
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #FFE04F;
  border: 1px solid #FFE04F;
  color: #2F3D31;
  text-decoration: none;
}

}


/* Nav Menu */

.bigbutton a { 
  color: #2F3D31;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px solid #2F3D31;
  padding: 10px;
  display: inline-block;
  margin-top:10px;
  background: #fff; 
}

.bigbutton a:active {
  background: #FFE04F;
  color: #ffffff;
  border: 1px solid #FFE04F;
}

#menu { 
  background: #fff; 
  position: relative;
  z-index: 1000;
  padding-top: 10px;
  font-size: 1.1em;
}

nav ul {
  list-style: none;
  font-size:12px;
  margin-bottom:0;
}

nav li {
  margin-bottom: 0;
  display: inline-block;
  width: auto;
  padding: 10px;
  background: #fff; 
}

nav a {
  width: 100%;
  height: 20px;  
}

/* Content */
.container {
  background: #fff;
  margin: 0 auto;
  height: 100%;
  margin-top: 40px;
  max-width: 800px;
  padding:25px;
}

.content { 
  text-align: justify;
  float: left;
  font-family: 'Source Serif Pro', 'Georgia', serif;
}

.content li{ 
  margin: 0 0 5px 0;
}

.content a {
  color: #2F3D31;
  border-bottom:1px dotted #2F3D31;
}
.vertical {
  vertical-align:middle;
}

.heading {
  font-weight: bold;
  font-size: 12px; 
  letter-spacing: 0.1em;
  margin-bottom:1rem;
}

.description {
  font-size: 11px; 
  text-align: justify;
  font-family: 'Courier', sans-serif;
}


.content a:hover {
  color: #2F3D31;
  border: 0; 
}

/* Button Behaviour in Content Box */
.content .bigbutton a {
  font-family: 'Courier', sans-serif;
  border: 1px solid #2F3D31;
  text-transform: none; 
  font-size: 1em; 
  font-style: italic; 
}

.content .bigbutton a:hover{
  border: 1px solid #FFE04F; 
  color: #2F3D31;
}

.profile img {
  border-radius:50%;
  text-align:center;
  width:270px;
}

.profile {
  padding-bottom:25px;	
}

.folio-piece {
  background: #fff; 
  position: relative; 
  margin:0 auto; 
  padding:20px
}

.folio-piece:hover {  
  opacity:1;
}

.folio-piece img { 
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
} 

.folio-piece:hover img { 
  opacity: 0.6;
} 

.caption {
  display:none;
}

.caption p { 
  font-size: 0.8em;
  -webkit-margin-before:1em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
} 

.caption  a{ 
  display:none; 
} 

.folio-piece:hover .caption {
  display:block;
  -webkit-transition: all 0.3s ease-in-out;
}

.hero {
  position:relative; 
  width: 100%; 
}

.hero-img {
  display:none; 
}


.project-title {
  font-family: 'Courier', sans-serif;
  font-weight: bold; 
  text-align:center; 
  letter-spacing: 0.025em;
}

.project-subtitle { 
  font-family: 'Courier', sans-serif;
  font-style: italic;
  text-align:center; 
}

.project-type {
  font-family: 'Courier', sans-serif;
  text-align:center; 
  font-weight: bold; 
}

.project-step {
  font-family: 'Courier', sans-serif;
  color: #93c3b2;
  text-align:center; 
  font-weight: bold; 
}

.project-substep {
  font-family: 'Courier', sans-serif;
  color: #93c3b2;
  text-align: center; 
  font-weight: bold; 
}

.project-img {
    display: block;
    margin:0 auto; 
	padding:1em;
}

.right {
    text-align: right; 
}

/* Contact Form */
input[type="email"], input[type="text"],textarea {
  max-width: 100%;
}

textarea {
  height: 100px;
}

input[type="submit"]:hover{
  border: 1px solid #95e7cc;
  outline: 0; 
  }
  
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #95e7cc;
  outline: 0; }

.contact {
  text-align: center; 
  margin-top: 25px; 
  font-family: 'Source Serif Pro', 'Georgia', serif;
}

/* Footer */
.footer {
  padding: 10px;
  bottom: 0;
  margin-top: 15px;
}

.copyright {
  font-size: 0.9em; 
}

.links {
  margin: 20px;
}


/* Media */
@media (min-width: 500px) {
#menu {
  font-size: 0.9em;
}

nav li {
  width: auto;
}


nav a {
  margin: 5px;
}
  
input[type="email"], input[type="text"],textarea {
  width: 300px;
}

.profile img {
  width: 40%;
  height: auto;
}

.bigbutton a { 
  font-size: 1.25em;
  color: #2F3D31;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px solid #2F3D31;
  padding: 12px;
  display: inline-block;
  margin-top:10px;
  background: #fff; 
}

.content .bigbutton {
 font-size: 1em; 
}

.container {
  background: #fff;
  margin: 0 auto;
  height: 100%;
  margin-top: 40px;
  max-width: 800px;
  padding:25px;
}

.hero-img {
  display:inline;
}

.project-details {
  color: #fff;
  position: absolute;
  top: 12em;
  left:0;
  width:100%;  
}

.caption {
  display:none;
  position: absolute; 
  bottom:0; 
  background: #fff;
  font-size: 12px;
  font-style: italic; 
  color: #2F3D31;
  letter-spacing: 1px;
  line-height:1.4em;
  margin: 3%;
  border: 1px solid #2F3D31;
  float:left;
  text-align: center;
}

.caption  a{ 
  color: #000;
  display:block;
  padding: 1em;   
} 

}

